body, html {
  font-family: "Arial";
  background-color: #343a40!important;
  color: #f0ffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial-Black";
  padding: 5% 0 5%;
}

/* Headings */
.big_heading {
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}

.medium-heading {
  font-weight: bold;
}

/* Navbar */
.PersonalNav {
  position: fixed;
  width: 100%;
  top: 0;
}

/* Searchbar */
.searchBar {
  padding: 7% 5%;
}

/* Forum */
.forumBackground {
  text-align: center;
  background-color: #343a40;
}

.forumBackground a {
  text-decoration: none;
  color: azure;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
}

.forumBackground i {
  display: inline-block;
}

.forumNavbar {
  display: inline-block;
  padding: 0;
}

.forumNavBar li {
  display: inline-block;
}

.forumNavbar li:hover {
  background:#555;
  text-shadow: 2px 2px black;
}

.forumNavbar li:hover ul {
  display:block;
}

.forumNavbar li ul {
  position: absolute;
  width: 200px;
  display: none;
}

.forumNavbar li ul li {
  background: #555;
  display:block;
}

.forumNavbar li ul li a {
  display:block !important;
}

.forumNavbar li ul li:hover {
  background: #666;
}

.forumHeadingIcon {
  padding-left: 2%;
  padding-right: 2%;
  color: yellow;
  display: inline-block;
}

/* Containers */
.container-fluid {
  padding: 5% 15%;
}

.required-software {
  padding: 5% 0 5%;
}

/* Classes */
.topic-heading {
  padding-bottom: 5%;
}

.topic-list {
  text-align: left;
  line-height: 1.5;
}

.topic-heading {
  text-align: left;
}

.avhe-sys-restart {
  text-align: center;
  font-style: italic;
  padding: 10% 0 10%;
}
