body, html {
  font-family: "Arial";
  background-color: #343a40!important;
  color: #f0ffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial-Black";
  padding: 5% 0 5%;
}

/* Headings */
.big_heading {
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}

.medium-heading {
  font-weight: bold;
}

/* Navbar */
.PersonalNav {
  position: fixed;
  width: 100%;
  top: 0;
}

/* Searchbar */
.searchBar {
  padding: 7% 5%;
}

/* Forum */
.forumBackground {
  text-align: center;
}

.forumHeadingIcon {
  padding-left: 2%;
  padding-right: 2%;
  color: yellow;
}

/* Containers */
.container-fluid {
  padding: 5% 15%;
}

.required-software {
  padding: 5% 0 5%;
}

/* Classes */
.topic-heading {
  padding-bottom: 5%;
}

.topic-list {
  text-align: left;
  line-height: 1.5;
}

.topic-heading {
  text-align: left;
}

.avhe-sys-restart {
  text-align: center;
  font-style: italic;
  padding: 10% 0 10%;
}
